<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <h1>BudgetApp</h1>
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"></span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/accueil" routerLinkActive="active" class="nav-link" aria-current="page">Accueil</a></li>
      <li class="nav-item"><a routerLink="/liste-utilisateur" routerLinkActive="active" class="nav-link">Utilisateur</a></li>
    </ul>
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

